@tailwind base;
@tailwind components;
@tailwind utilities;

.tail-circle {
  width: 24px;
  height: 24px;
  background-color: #FFCC00;
}

#quarter-circle-first {
  border-top-right-radius: 2.5rem;
}

#quarter-circle-second {
  border-bottom-left-radius: 2.5rem;
}

#half-circle {
  border-radius: 0 2.5rem 2.5rem 0;
}

.tail-brown-row {
  background: #432616;
  width: 16px;
  height: 24px;
}

.tail-yellow-row {
  background: #FFCC00;
  width: 16px;
  height: 24px;
}

.tail-brown-col {
  background: #432616;
  width: 24px;
  height: 16px;
}

.tail-yellow-col {
  background: #FFCC00;
  width: 24px;
  height: 16px;
}